import React from 'react';
import PropTypes from 'prop-types';
//styles
import './{{pascalCase name}}.scss';

const {{pascalCase name}} = (props) => {
    return (
        <div  className="root">
            {{pascalCase name}}
        </div>
    );
};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};
