// import PropTypes from 'prop-types';
{{#if isCssModules}}
    // styles
    import classes from './{{pascalCase name}}.scss';
{{/if}}

const {{pascalCase name}} = (props) => {
    return (
        {{#if isCssModules}}
            <div  className={classes.{{camelCase name}}Wrapper}>
        {{else}}
            <div  className="{{dashCase name}}-wrapper">
        {{/if}}
            {{pascalCase name}}
        </div>
    );
};

{{pascalCase name}}.propTypes = {};

export default {{pascalCase name}};
