// import PropTypes from 'prop-types';
{{#if isCssModules}}
    // styles
    import classes from './{{pascalCase name}}Page.scss';
{{/if}}

const {{pascalCase name}}Page = (props) => {
    return (
        {{#if isCssModules}}
            <div  className={classes.{{camelCase name}}Wrapper}>
        {{else}}
            <div  className="{{dashCase name}}-wrapper">
        {{/if}}
            {{pascalCase name}}Page
        </div>
    );
};

{{pascalCase name}}Page.propTypes = {};

export default {{pascalCase name}}Page;
