import React from 'react';
import PropTypes from 'prop-types';
//styles
import './{{pascalCase name}}Page.scss';

const {{pascalCase name}}Page = (props) => {
    return (
        <div  className="root">
            {{pascalCase name}}Page
        </div>
    );
};

{{pascalCase name}}Page.propTypes = {

};

export default {{pascalCase name}}Page;
